<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortr.</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Public/Styles/styles.css">
    <script src="../Public/Src/navbar.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="overflow-x-hidden">
    <!-- Navbar -->
    <div id="navbar"
        class="w-screen bg-white transition duration-200 ease-in-out flex flex-wrap flex-col justify-center md:flex-row items-center px-20 py-6">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <span class="ml-3 text-xl">Shortr.</span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a class="mx-6 font-semibold text-gray-600 hover:text-gray-800" href="#">How it works</a>
            <a class="mx-6 font-semibold text-gray-600 hover:text-gray-800" href="#">Pricing</a>
            <a class="mx-6 font-semibold text-gray-600 hover:text-gray-800" href="#">Affiliates</a>
            <a class="mx-6 font-semibold text-gray-600 hover:text-gray-800" href="#">Help</a>
        </nav>
        <button
            class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Contact
            us
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
    <!-- Navbar -->

    <!-- Landing Page -->
    <div class="landing-page px-20 flex flex-col justify-center items-center">
        <h1 class="text-5xl text-center font-bold text-gray-800">Reduce the length of <br> your link within seconds.
        </h1>
        <p class="text-center py-10 text-lg text-gray-700">Attract more people to grow your website audience.
            <br>
            Get more website visitors, traffic & leads.
        </p>
        <form id="url-shortener-form" autocomplete="off">
            <input type="text" id="rounded-email"
                class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-72 py-4 px-6 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                placeholder="Your link" />
            <button class="ml-6 text-white px-10 py-4 rounded-lg w-max focus:outline-none"
                style="box-shadow: 0 15px 30px -15px rgb(90 92 248 / 60%);">Shorten</button>
        </form>
        <a href="#" target="_blank" class="mt-10" id="url-result"></a>
        <script>
            $("#url-shortener-form").submit(e => {
                const urlTxt = $("input").val();
                $.post("http://localhost:3000/api/shortr", {
                    url: urlTxt
                }, (result) => {
                    $("#url-result").html("http://localhost:3000/" + result.new_url);
                    $("#url-result").prop("href", "http://localhost:3000/" + result.new_url);
                });
                return false;
            });
        </script>
        <ul class="flex justify-between items-center py-10 text-gray-400">
            <li class="flex items-center">
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>&nbsp;
                Completely free
            </li>
            <li class="flex items-center">
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>&nbsp;
                Easy to use
            </li>
            <li class="flex items-center">
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>&nbsp;
                Lightning fast
            </li>
        </ul>
    </div>
    <div class="blob absolute rounded-full"></div>
    <div class="small-circle circle-1 absolute rounded-full"></div>
    <div class="small-circle circle-2 absolute rounded-full"></div>
    <div class="small-circle circle-3 absolute rounded-full"></div>
    <div class="big-blob absolute rounded-full"></div>
    <!-- Landing Page -->
</body>

</html>